body 
    background-color: #ffb74d
    margin: 0 // eliminar el margen
    box-sizing: border-box
    font-family: 'Times New Roman', Times, serif


ul 
    padding-inline-start: unset 
    list-style: none

li  
    list-style: none
    border: dotted 1px

.hide
    display: none

    

.header 
    display: flex
    flex-wrap: wrap
    justify-content: center
    
.nav__form 
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding-top: 2.5%

    &-button
        background: url("./icon-24.png") transparent no-repeat center center
        width: 50px
        height: 50px

.duck
    background-color: wheat
    border: 0.15em solid wheat
    padding: 1em
    margin: 1em
    border-radius: 0.5em
    text-align: center
    cursor: pointer

    &-list
        display: flex
        justify-content: center
        flex-wrap: wrap
        padding: 0
        
        
        &__item
            margin-top: 2em
            margin-bottom: 2em

        &__item-title 
            text-transform: uppercase
            font-size: 1.2em


        &__item-image
            width: 90%
            margin: 5% 5%

.footer
    display: flex
    justify-content: center    


@media screen and (min-width: 420px)
    

@media screen and (min-width: 1000px)








    