body 
    background-color: #ffb74d
    margin: 0 // eliminar el margen
    box-sizing: border-box
    font-family: 'Times New Roman', Times, serif

ul 
    padding-inline-start: unset    

.header 
    display: flex
    flex-wrap: wrap
    justify-content: center

    &__logo

        &-img
            width: 80%
            padding: 10%
            // margin-left: 10%

        &-box
            width: 20%

    &__title

.nav__form 
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding-top: 2.5%

.ducks
    background-color: wheat
    border: 0.15em solid wheat
    padding: 1em
    margin: 1em
    border-radius: 0.5em
    text-align: center
    cursor: pointer

    &__title 
    text-transform: uppercase
    font-size: 1.2em

    &__image
    width: 90%
    margin: 5% 5%

    &-list
        display: flex
        flex-wrap: wrap
        justify-content: center
        padding: 0
        
        &__item
            margin-top: 2em
            margin-bottom: 2em

        &__item-image
            width: 50vw


.footer
    display: flex
    justify-content: center    











    