@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap')
body
    background: linear-gradient(to bottom, #020710, #020710, #020710, #57d5a0)
    height: 100%
    background-repeat: no-repeat
    margin: 0
.tresh
    color: white
    font-family: Arial
    overflow: auto
    margin: 0



@import ./components/header
@import ./components/background
@import ./components/champion-item
@import ./components/champions
@import ./components/nouser
@import ./components/detail
@import ./components/feedback
@import ./components/landing
@import ./components/login
@import ./components/register
@import ./components/search
@import ./components/summoner
@import ./components/footer
@import ./components/myfavs
@import ./components/fav-item

