.feedback
    display: flex
    justify-content: center
    width: 99%
    height: 500px
    margin: 1%
    background-color: #5c5c5c17
    
    &__div
        width: 80%
        height: 50%
        margin:10%
        background-color: #233180
        border-radius: 15px


    &__goback-button
        text-decoration: none
        background-color: transparent
        border-style: none
        cursor: pointer
        margin-top: 6%
        margin-left: 5%
        color: #0c0b0b
        font-size: 2.5rem
        color: white


    &__message
        margin-top: 30%
        margin-left: 6%
        margin-right: 6%
        font-size: 15px
        color: white
