header
    background-color: #FF99BB
    margin: 0px auto
    min-width: 318px
    max-width: 100%
    height: 40px
    display: flex
    align-items: center
    justify-content: space-between

    button
        border: none
        background: none
