.lesson
    font-family: 'Roboto', sans-serif
    display: flex 
    justify-content: space-around
    align-items: center
    list-style-type: decimal
    padding: 0rem
    font-size: .8rem
    min-width: 18rem
    
p 
    padding: .3rem