.header {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  height: 15vh;
  width: 100vw;
  padding: 0.5%;
  background-color: #2c2c2c;
  color: white; }
  .header__back {
    height: 15vh; }
  .header__logo {
    height: 90%; }
  @media only screen and (max-width: 1023px) {
    .header__title {
      display: none; }
    .header__burguer {
      width: 20%;
      height: 100%;
      font-size: 7vh;
      display: flex;
      justify-content: center;
      align-items: center; }
    .header__nav {
      display: none; } }
  @media only screen and (min-width: 1024px) {
    .header__title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      width: 20%;
      font-family: "Staatliches";
      letter-spacing: 0.4rem; }
    .header__burguer {
      display: none; }
    .header__nav {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 60%; } }
  .header__login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    color: white; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0; }
  .menu__beers, .menu__community, .menu__invest, .menu__search {
    color: white;
    font-size: 1.2rem;
    padding: 0.1rem;
    margin-left: 1em;
    margin-right: 1em;
    cursor: pointer; }
    .menu__beers:hover, .menu__community:hover, .menu__invest:hover, .menu__search:hover {
      color: tomato; }
  .menu__search {
    width: 50%;
    display: flex;
    margin-right: 10em; }
  .menu__beers, .menu__community, .menu__invest {
    width: 30%; }
  .menu__invest {
    color: red; }

.random-beer__inside {
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 70%;
  cursor: pointer;
  transition: 1s all ease; }
  .random-beer__inside:hover {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%; }
.random-beer__title {
  font-size: 120%;
  color: tomato; }
.random-beer__img {
  height: 50%; }
.random-beer__text {
  font-size: 75%; }

.beers__random-beer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 40%;
  margin: 0 2.5% 0 2.5%;
  border: 1px solid whitesmoke; }

.ranking__title {
  cursor: pointer; }
  .ranking__title:hover {
    background: tomato;
    color: white; }
.ranking--top1 {
  font-size: 250%; }
.ranking--top2 {
  font-size: 175%; }
.ranking--top3 {
  font-size: 100%; }

.welcome {
  display: flex;
  width: 100vw; }
  @media only screen and (max-width: 1023px) {
    .welcome {
      flex-direction: column; } }
  @media only screen and (min-width: 1024px) {
    .welcome {
      flex-direction: row; } }
  .welcome__beers {
    background-image: url("img/beers.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0.8; }
    @media only screen and (max-width: 1023px) {
      .welcome__beers {
        width: 100%;
        height: 23rem; } }
    @media only screen and (min-width: 1024px) {
      .welcome__beers {
        width: 67%;
        height: 30rem; } }
  .welcome__ranking {
    background-image: url("img/ranking.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0.8; }
    @media only screen and (max-width: 1023px) {
      .welcome__ranking {
        width: 100%;
        min-height: 23rem; } }
    @media only screen and (min-width: 1024px) {
      .welcome__ranking {
        width: 33%;
        min-height: 30rem; } }

.speech__title {
  font-size: 300%; }
.speech__description {
  font-size: 150%; }

.brewdog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 100vw;
  height: 20rem;
  z-index: 100;
  background-image: url("img/brewdog.jpg");
  background-position: 30%;
  background-size: cover; }

.video__title {
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  padding: 0.2rem 3rem;
  margin: 1rem; }
.video__description {
  width: 100vw;
  background: whitesmoke;
  font-size: 110%;
  display: flex;
  justify-content: center; }
.video__background {
  position: absolute;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  z-index: -1;
  opacity: 0.7; }

.main {
  display: flex;
  flex-direction: column; }
  .main__speech {
    width: 100vw;
    height: 20rem;
    color: #2c2c2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main__video {
    width: 100vw;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.footer {
  width: 100vw;
  height: 20rem;
  background: #2c2c2c;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.menu__invest, .brewdog__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10rem;
  height: 1.9rem;
  background: #ffd000;
  color: #3d3d3d;
  cursor: pointer;
  padding: 0.2rem 2rem 0.2rem 2rem; }
  .menu__invest:hover, .brewdog__button:hover {
    background: tomato;
    color: white; }

.ranking__title, .brewdog__title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  padding: 0.2rem 3rem;
  font-size: 200%;
  margin: 1rem;
  font-family: "Staatliches";
  letter-spacing: 0.4rem; }

.ranking__description, .brewdog__description {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  padding: 1%;
  font-size: 110%;
  margin: 1rem; }

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Big Shoulders Text";
  letter-spacing: 0.2rem; }

.query {
  width: 10rem;
  background: unset;
  border: unset;
  border-bottom: 1px solid whitesmoke; }

.button {
  color: whitesmoke;
  padding: 0.1rem;
  margin-left: 0.2rem; }
  .button:hover {
    color: tomato; }

.icon {
  font-size: 1rem; }
  .icon__text {
    font-size: 0.8rem; }

.burguer {
  font-size: 80%; }

.login {
  position: absolute;
  z-index: 10;
  top: 15vh;
  left: 0;
  width: 100vw;
  height: 50vh;
  background-color: #2c2c2c;
  transition: 1s height ease; }

/*# sourceMappingURL=style.css.map */
