.feedback
    background-color: #ff8080
    border-radius: 0.3em
    max-width: 310px
    margin: 10px
    padding: 5px

    &__message
        text-align: center
        color: white
        font-size: 1.5rem