.select-hand
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    left: 0
    z-index: 1000
    display: flex
    justify-content: center
    align-items: center
    background-color: #00000050

    &__container
        width: 95%
        height: 95%
        border: 3vh solid white
        border-radius: 5vh
        display: flex
        flex-wrap: wrap
        background-color: rgba(256,256 ,256 ,.4 )
        transform: skew(-3deg)
    &__title
        width: 100%
        padding: 0 5% 
        display: flex
        align-items: center

    &__card-detail
        margin-left: 2%
        width: 45%
        height: 85%
        display: flex
        align-items: center
        transform: skew(3deg)
        overflow: scroll
        cursor: pointer

    &__selected
        width: 50%
        height: 85%
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center

.drop-container
    margin: 2% 2%
    width: 25%
    height: 40%
    transform: skew(3deg)
    border: 2px dotted white
    border-radius: 1vh
    background-color: rgba(256,256 ,256 ,.6 )
    display: flex
    justify-content: center
    align-items: center

.own-card
    min-width: 20vw
    min-height: 70vh
    max-width: 20vw
    max-height: 70vh

.end-button
    margin: 2%
    width: 9vw
    height: 7vh
    background: linear-gradient(to bottom right, #990000 0%, #ff3300 100%)
    display: flex
    justify-content: center
    align-items: center
    color: white
    transform: skew(-10deg)
    border: .3vw solid white
    border-radius: .5vw
    font-size: 2vw
    &--ready
        margin: 2%
        width: 9vw
        height: 7vh
        display: flex
        justify-content: center
        align-items: center
        color: white
        transform: skew(-10deg)
        border: .3vw solid white
        border-radius: .5vw
        font-size: 2vw
        background: linear-gradient(to bottom right, #00ff00 0%, #009900 100%)
        animation-name: bounce
        animation-duration: 1s
        animation-timing-function: ease
        animation-iteration-count: infinite
        cursor: pointer
        &:hover
            border-color: #009900

@keyframes bounce
    0%
        transform: translateY(-2vh)
    50%
        transform: translateY(2vh)
    100%
        transform: translateY(-2vh)