.mycart

    &__back
        font-family: 'Roboto', sans-serif
        font-size: 1rem
        display: flex
        justify-content: center
        color: white
        margin-top: 4rem
        margin-bottom: 3rem
        margin-left: 3rem
        margin-right: 6rem
        font-weight: 1000 
        text-align: center
        padding: .5rem


