.game-zone
    grid-column: 2/ span 3
    grid-row: span 2
    display: flex
    justify-content: center
    align-items: center
    border-radius: 5%
    background: #50f0ff6e
    border: 2px dotted whitesmoke
    width: 25vw
    height: 25vh
    align-self: center