.landing
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 78vh
    &__video
        padding: 0.5rem
        background-color: #808080a8
        border: solid 0.2rem #57d5a0
        box-shadow: 0 0 10px 4px #57d5a0
        border-radius: 20px
.landing::after 
  content: ""
  background: url(http://s1.picswalls.com/wallpapers/2015/11/21/hd-league-of-legends-wallpapers_111238778_289.jpg)
  opacity: 0.3
  top: 0
  left: 0
  bottom: 0
  right: 0
  position: absolute
  z-index: -1
