.header-wrapper
    background-color: rgba(40,44,52 , 0.25)
    margin-bottom: 2rem
    padding-bottom: .5rem
    width: 100%
.header
    &__h1
        color: rgba(40,44,52 , 0.75)
    &__username
        background-color: rgba(255,255,255, .5)
        padding: .5rem

