.search
    width: 35vw
    &__background-container
        display: flex
        justify-content: center 
    &__background
        opacity: 0.2
        align-self: center
        height: 63vh
        width: 100%