@import ../beerdetail/beerdetail
@import welcome
@import speech
@import brewdog
@import video

.main
    display: flex
    flex-direction: column
     
    &__speech
        width: 100vw
        height: 20rem
        color: #2c2c2c
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

    &__video
        width: 100vw
        height: 30rem
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    
    &__brewdog
     
    &__beerdetail
        width: 100vw
        height: 50rem
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: skyblue

        