.ranking
        
    &__title
        @extend %title
        cursor: pointer
        &:hover
            background: tomato
            color: white

    &__description
        @extend %description

    &--top1
        font-size: 250%
    &--top2
        font-size: 175%
    &--top3
        font-size: 100%
