

body
    font-family: 'Mansalva', cursive
    display: flex
    flex-direction: column
    justify-content: center
    box-sizing: border-box
    background-color: Lavender 
    margin-bottom: 20%
    


li
    list-style: none


.result
    display: flex
    justify-content: center


@import ./components/header
@import ./components/login
@import ./components/register
@import ./components/search
@import ./components/results
@import ./components/result-item
@import ./components/detail
@import ./components/feedback
@import ./components/footer

.hide
    display: none   


