.team-create
    font-family: 'Roboto', sans-serif
    display: flex
    flex-direction: column
    align-items: center
    margin-right: 3rem


    &__back
        font-size: 1rem
        display: flex
        flex-direction: row
        align-items: center 
        color: white
        margin-bottom: 1rem
    &__user
        color: white
        font-size: 1rem
        margin-top: 1rem
        font-weight: 700
        text-align: center

    &__form
        width: 50%
        display: flex
        flex-direction: column
        align-items: center

    &__title
        color: white
        font-size: 1.5rem
        margin-top: 3rem
        margin-bottom: 2rem
        font-weight: 700

    &__field
        border-radius: .5rem
        padding: .3rem
        margin: .3em 
        width: 70vw
        height: 10vw
        font-size: 1rem

    &__button
        border-radius: .5rem
        padding: .2rem
        margin-top: 1rem
        background-color: white
        font-size: 1rem
        margin-bottom: 1rem
        background-color: #97c8eb
        color: white
        border: .1rem solid white

