.home
    position: relative
    width: 100vw
    height: 100vh
    background-image: url('../../img/background3.jpg')
    background-repeat: no-repeat
    background-size: cover
    color: whitesmoke
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    &__option
        min-width: 20vw
        min-height: 50vh
        border-radius: 2%
        margin: 0 3% 0 3%
        padding: 2%
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        perspective: 600px
        transition: .5s
        &:hover .card-front
            transform: rotateX(-180deg)
        &:hover .card-back
            transform: rotateX(0deg)
        &--disabled
            opacity: .5
        &--small
            background-image: unset
            border: 1px solid whitesmoke
            border-radius: 2%
            min-height: 5vh
            margin: 2% 0
            &:hover
                font-size: 3vh
                background-color: rgba(255,255,255,.4)
    &__side
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
    
.home-footer
    position: absolute
    bottom: 0
    width: 100vw
    display: flex
    justify-content: space-evenly
    &__item
        margin: 0 3% 0 3%
        cursor: pointer
        &:hover
            color: yellow


.card-front
    height: 100%
    width: 100%
    background-image: url('../../img/backcard.png')
    background-position: 50% 50%
    background-size: contain
    background-repeat: no-repeat
    position: absolute
    top: 0
    left: 0
    //background-color: #000000
    backface-visibility: hidden
    transform: rotateX(0deg)
    transition: .5s

.card-back
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    display: flex
    align-items: center
    justify-content: center
    padding: 2%
    //background-image: url('../../img/backcard.png')
    //background-position: 50% 50%
    //background-size: cover
    background-color: #eb9008
    border-radius: 2%
    border: 1px solid whitesmoke
    backface-visibility: hidden
    transform: rotateY(180deg)
    transition: .5s
    color: #ffffff
    text-align: center
    h2
        font-size: 8vh
        &:hover
            font-size: 8.5vh
            color: whitesmoke