.search
    border: .3rem solid black
    border-radius: 1rem
    border-style: dotted
    text-decoration: none
    padding: .5rem
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

    &__title
        color: black
        font-size: 2rem
        margin: .5rem auto .5rem auto

    &__icon
        font-size: 1.5rem

    &__criteria
        margin-top: 3%
        border-radius: .5rem
        padding: .5rem
        font-size: 1rem
    
    &__submit
        border-radius: .5rem
        padding: .5rem

    &__logout
        margin-top: 5%
        margin-bottom: 2%
        color: black
        font-weight: bold
        border-radius: .5rem
        padding: .5rem