.user-profile

    &__title
        color: #8097FF
        font-size: 1.5em
        text-align: center

    &__item
        display: flex
        flex-direction: column
        text-align: center
        align-items: center

    &__img
        border-radius: 0.3em
        width: 90%
        max-width: 310px

    &__location
        color: #333
        font-size: 1em

    &__email
        color: #333
        font-size: 1em

    &__numofgames
        color: #333
        font-size: 1em

    &__update
        border: none
        background: #8097FF
        border-radius: 0.3em
        padding: 20px
        margin: 10px
        font-size: 1.5em

    &__update:hover
        background: #9fb0ff

    &__logout
        border: none
        background: #8097FF
        border-radius: 0.3em
        padding: 20px
        margin: 10px
        font-size: 1.5em

    &__logout:hover
        background: #9fb0ff