.user-item
    background-color: #8097FF
    border-radius: 0.3em
    max-width: 310px
    margin: 10px
    padding: 20px 10px 5px 10px

    &__username
        color: #333
        font-weight: bold
        font-size: 1em

    &__img
        border-radius: 0.3em
        width: 90%

    &__link
        text-decoration: none

.user-item:hover
    background: #9fb0ff