.landing
    width: 100vw
    height: 100vh
    //background: linear-gradient(to bottom, #39d3ee , #1b90f0)
    background-image: url('../../img/background3.jpg')
    background-repeat: no-repeat
    background-size: cover
    color: whitesmoke
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__title-container
        height: 40%
        display: flex
        align-items: center
        width: 60%
        justify-content: space-around
    &__title
        font-family: 'Mouse Memoirs'
        font-size: 8vw
        letter-spacing: 1vw
        text-shadow: 5px 5px 8px black
    &__text
        font-size: 3vw
    &__logo
        height: 55%
        filter: drop-shadow(5px 5px 8px black)

