.messages
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 4%
    margin-top: 130px
    border: 1px solid #cccbcb
    background-color: rgba(252, 247, 243, 0.945)
    border-radius: 1rem

    &__title
        margin-top: 3%
        font-size: 3rem

    &__subtitle
        margin-top: 3%
        font-size: 2rem