.favs
    display: flex
    justify-content: center
    flex-wrap: wrap
    width: 70%
    margin: 0.5rem auto
    position: relative
    height: 62vh
    overflow: auto
    
.title
    text-align: center
    letter-spacing: 0.1rem
    text-shadow: 0.2rem 0.1rem 0.5em #57d5a0, 0.2rem 0.1rem 0.5em #337b5d, 0.2rem 0.1rem 0.5em #57d5a0
    color: snow
    font-size: 3.5rem
.nofavs
    text-align: center
    text-shadow: 0.2rem 0.1rem 0.5em #d5575711, 0.2rem 0.1rem 0.5em #7b333311, 0.2rem 0.1rem 0.5em #d55757
    color: snow
    font-size: 2rem
    position: relative


.background
    background-image: url(https://images4.alphacoders.com/275/thumb-1920-275146.jpg)
    width: 100vw
    height: 81vh
    opacity: 0.2
    position: absolute
    z-index: -2

