.aside
    align-items: center    
    display: flex
    flex-direction: column
    justify-content: center
    
.category-list
    list-style: none
    margin: 0
    padding: 0

.input-add
    height: 1.5rem
    width: 100%
    margin-bottom: .5rem