.card
    display: flex
    justify-content: center
    align-items: center
    width: 7vw
    height: 20vh
    cursor: pointer

    &--played
        transform: rotate(10deg)
    
    &--not-playable
        filter: grayscale(100%) opacity(50%)