    <nav class='nav'>
        <ul>
            <li>
                <a class='anchor' href="index.html" style="color:red">Todo</a>
            </li>
            <li>
                <a class='anchor' href="index.html" style="color:red">Nada</a>
            </li>
        </ul>
    </nav>