*
    box-sizing: border-box
    margin: 0
    font-family: 'Rajdhani'

    //background-image: url('https://images8.alphacoders.com/876/thumb-1920-876413.jpg')
    
.upper-menu
    position: absolute
    top: 0
    right: 0
    width: 50vw
    display: flex
    justify-content: space-between
    flex-wrap: nowrap
    background: linear-gradient(to right, #740449 , #040957)
    border: 1px solid whitesmoke
    box-shadow: 3px 3px 3px
    color: whitesmoke

    &__container
        display: flex
        justify-content: center
        flex-wrap: nowrap
        flex-grow: 1

    &__item
        margin: 0 5%

.slide-row
    height: 100%
    width: 10%
    padding: 1%
    display: flex
    justify-content: center
    align-items: center

.slide-detail
    height: 90%
    width: 80%
    margin: 1%
    background: tomato
    display: flex
    justify-content: center
    align-items: center

.user-game-menu
    width: 100%
    display: flex
    justify-content: center
    background: silver
    color: whitsmoke
    grid-column: span 9
