.booking-list
    font-family: 'Roboto', sans-serif
    display: flex
    flex-direction: column
    align-items: center 
    list-style-type: decimal
    padding: 0rem
    margin-right: 2rem

    &__nav
        display: flex
        flex-direction: row
        justify-content: space-around
        margin-top: 1rem
        font-weight: 
    &__user
        color: white
        font-size: 1rem
        margin-top: 1rem
        font-weight: 700
        text-align: center

    &__title
        color: white
        font-size: 1.5rem
        margin-top: 1rem
        font-weight: 700 
        text-align: center

    &__back
        color: white
        font-size: 1.3rem
        font-weight: 1000 
        text-align: center
        padding: .5rem
    
    &__item
        color: white
        border: .1rem solid white
        padding: .2rem
        margin-block-start: .3rem
        border-radius: .3rem
        font-size: 1rem
        font-weight: 500 
        text-align: left
        background-color: white
        width: 85%
        margin-right: 1.3rem
    &__addLesson
        color: white
        font-size: 1rem
        font-weight: 1000 
        text-align: center

a 
    text-shadow: none

button
    font-size: 1.5rem