*
    box-sizing: border-box
    margin: 0
    font-family: 'Barriecito'

.upper-menu
    position: absolute
    top: 0
    right: 0
    width: 65vw
    height: 10vh
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: nowrap
    background: linear-gradient(to right, #740449 , #040957)
    border: 1px solid whitesmoke
    box-shadow: 3px 3px 3px
    color: whitesmoke
    font-size: 3.7vh

    &__container
        display: flex
        justify-content: center
        flex-wrap: nowrap
        flex-grow: 1

    &__item
        margin: 0 5%

.user-game-menu
    width: 100%
    display: flex
    justify-content: center
    background: silver
    color: whitsmoke
    grid-column: span 9
    display: flex
    align-items: center
    font-size: 3vh

a
    color: inherit
    text-decoration: unset
    &:hover
        text-decoration: underline
    &:visited
        text-decoration: unset
        color: inherit