.new-cards
    position: relative
    height: 100vh
    width: 100vw
    display: flex
    flex-wrap: wrap
    justify-content: center
    &__title
        padding: 0 5%
        width: 100%
        display: flex
        align-items: center
    &__random
        display: flex
        height: 80%
        width: 90%
        justify-content: center
        align-items: center
.random
    &__card
        height: 85%
        width: 25%
        margin: 1%
        background: tomato
        display: flex
        justify-content: center
        align-items: center