*
    box-sizing: border-box
    margin: 0

body
    box-sizing: border-box
    background-color:#bbee
    text-align: center
    font-family: 'Montserrat', sans-serif
    margin-bottom: 20%
    
.hide
    display: none

.view

    flex-wrap: wrap
    justify-content: center
    padding: 0
    
   


@media (min-width: 768px)

    body 
        box-sizing: border-box
        background-color:#bbee
        text-align: center
        font-family: 'Montserrat', sans-serif
        margin-bottom: 7%

@media (min-width: 1200px)

    body 
        box-sizing: border-box
        background-color:#bbee
        text-align: center
        font-family: 'Montserrat', sans-serif
        margin-bottom: 7%

    /*
@import ./search
@import ./results
@import ./item
@import ./detail
@import ./feedback
@import ./register
@import ./login
@import ./landing