.landing
    height: 100vh
    background-color:#bbee
    border-radius: 1rem
    text-decoration: none
    padding: .5rem
    font-family: 'Montserrat', sans-serif

    &__title
        color: white
        font-size: 2rem
        margin: .5rem auto .5rem auto
    
    &__options
        color: white
        font-size: 1.2rem
        margin: .5rem auto .5rem auto
    
    &__image
        margin-top: 20vh
        padding: 0.5rem
        width: 15rem