.login
    background-color:#bbee
    border-radius: 1rem
    text-decoration: none
    padding: .5rem
    font-family: 'Montserrat', sans-serif

    &__image
        margin-top: 20vh
        padding: 0.5rem
        width: 15rem

    &__title
        color: white
        font-size: 2rem
        margin: .5rem auto .5rem auto

    &__field
        border-radius: .5rem
        padding: .5rem
        font-size: 1rem

    &__field:hover
        border: .25rem solid #6666f2ee
        color: black
    
    &__submit
        border-radius: .5rem
        padding: .5rem

    &__submit:hover
        border: .25rem solid #6666f2ee
        color: black

    &__image
        margin-top: 20vh
        padding: 0.5rem
        width: 15rem

    
