.results
    font-family: 'Montserrat', sans-serif
    border-radius: 20%
    padding: 1rem
    margin: 0.5rem
    list-style: none
    columns: 3

    &__item
        display: inline-block
        border-radius: 1rem
        margin: 1rem