.team
    font-family: 'Roboto', sans-serif
    list-style-type: decimal
    padding: 0rem
    font-size: 1rem
    display: flex
    flex-direction: column
    align-content: center
    
    &__user
    color: dark blue
    font-size: 1rem
    margin-top: 0rem
    font-weight: 1000
    text-align: center
    &__teamActivity
        color: darkblue
    
p 
    padding: 0rem
    color: darkblue
    font-weight: 900


.margin
    margin-right: .5rem