.footer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 90%
    background-color: #ffffffcc
    height: 70px
    margin: 4%
    border-radius: 1rem

    &__div
        display: flex
        justify-content: center

    &__title
        width: 90%
        padding: 1rem

    &__logo
        width: 60px
        height: 60px
        padding: 8px

    &__text
        margin: 0
        padding: 0 
        width: 90%
        font-size: 12px
