.board
    font-family: 'Roboto', sans-serif
    display: flex
    align-items: center

.client   

    &__user
        color: white
        font-size: 1.5rem
        margin-top: 3rem
        font-weight: 700
        margin-bottom: 1rem

    &__lessontobook
        color: white
        font-size: 1.5rem
        margin-top: 1.5rem
        font-weight: 500
        

    &__mycart
        color: white
        font-size: 1.5rem
        margin-top: 1.5rem
        font-weight: 500


.logo
    max-width: 100%
    height: auto

    &__image
        text-align: center
        height: 50%
        width: 85%
        margin-left: 1rem
        margin-bottom: 0rem
        margin-top: 4rem
        margin-right: 1rem



