*
    box-sizing: border-box
    margin: 0

body 
    background: rgb(2,0,36)
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 75%)
    min-height: 100vh
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

.button
    background-color: white


a 
    text-shadow:  none
    
a:link 
    text-decoration: none
    

li 
    list-style-type: none 


.view
    background-color: #3671f0d7
    height: 100%
    width: 100vw
    padding: 3vw
    text-align: center
    margin-top: 5rem 


