* {
  box-sizing: border-box;
  margin: 0;
}

.view {
  border: 0.3rem solid orange;
  border-radius: 1rem;
  border-style: dotted;
  background-color: yellow;
  width: 100vw;
  height: 100%;
  padding: 3vw;
  text-align: center;
}

body {
  font-family: "Mansalva", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: Lavender;
  margin-bottom: 20%;
}

li {
  list-style: none;
}

.result {
  display: flex;
  justify-content: center;
}

.landing {
  background-color: deeppink;
  border: 0.3rem solid darkviolet;
  border-radius: 1rem;
  border-style: dotted;
  text-decoration: none;
  padding: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.landing__title {
  color: darkviolet;
  font-size: 2rem;
  margin: 0.5rem auto 0.5rem auto;
}
.landing__options {
  color: darkviolet;
  font-size: 1.2rem;
  margin: 0.5rem auto 0.5rem auto;
}

.register {
  display: flex;
  height: 40vh;
  justify-content: center;
  align-items: center;
}
.register__div {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.register__form {
  flex-direction: column;
  display: flex;
  width: 40%;
  height: 15vh;
  justify-content: space-between;
}
.register__input {
  border-radius: 20px;
}
.register__button {
  border-radius: 20px;
  background: MintCream;
  border: 2px solid black;
  font-size: 1.25em;
  font-weight: bold;
}
.register__gologin {
  border-radius: 20px;
  background: MintCream;
  border: 2px solid black;
  font-size: 1.25em;
  font-weight: bold;
  width: 40%;
  margin-top: 1rem;
  background-color: LightSteelBlue;
}

.login {
  display: flex;
  height: 40vh;
  justify-content: center;
  align-items: center;
}
.login__div {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.login__form {
  flex-direction: column;
  display: flex;
  width: 40%;
  height: 15vh;
  justify-content: space-between;
}
.login__input {
  border-radius: 20px;
}
.login__button {
  border-radius: 20px;
  background: MintCream;
  border: 2px solid black;
  font-size: 1.25em;
  font-weight: bold;
}
.login__goregistrer {
  border-radius: 20px;
  background: MintCream;
  border: 2px solid black;
  font-size: 1.25em;
  font-weight: bold;
  width: 40%;
  margin-top: 1rem;
  background-color: LightSteelBlue;
}

.search {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.search__form {
  display: flex;
  margin-bottom: 2rem;
}
.search__input {
  border-radius: 20px;
}
.search__button {
  border-radius: 20px;
  background: MintCream;
  border: 2px solid black;
  font-size: 1.25em;
  font-weight: bold;
}

.item-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.item-list__item {
  display: flex;
  border-radius: 20px;
}
.item-list__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
.item-list__title {
  color: white;
  background-color: LightSteelBlue;
  border: 2px dotted black;
  border-radius: 0.9em;
  font-size: 1.2em;
  padding: 0 2%;
}
.item-list__image {
  width: 60%;
  border-radius: 60px;
}
.item-list__fav {
  width: 10%;
}
.item-list__description {
  padding: 0 2%;
}
.item-list__price {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
  align-self: center;
  font-size: 1.2em;
}
.item-list__button {
  border-radius: 20px;
  background: MintCream;
  border: 2px solid black;
  font-size: 1.2em;
  font-weight: bold;
  align-self: center;
}

@media (min-width: 1024px) {
  .item-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .item-list__image {
    background-size: cover;
  }
  .item-list__title {
    font-size: 0.9em;
    text-align: center;
  }
  .item-list__image {
    max-width: 30em;
  }
  .item-list__fav {
    width: 5%;
  }
  .item-list__description {
    font-size: 1.2em;
  }
  .item-list__title {
    font-size: 1.8em;
  }
  .item-list__price {
    font-size: 1.8em;
  }
  .item-list__button {
    font-size: 1.8em;
  }
}

/*# sourceMappingURL=index.css.map */
