.header
    display: flex
    margin-bottom: 1rem
    &__logo
        height: 10rem
        position: absolute
    &__title
        text-shadow: 0.2rem 0.1rem 0.5em #57d5a0, 0.2rem 0.1rem 0.5em #337b5d, 0.2rem 0.1rem 0.5em #57d5a0
    &__div
        display: flex
        flex-direction: column
        align-items: center
        position: relative
        margin-left: 11rem
    &__div2
        width: 80%
        display: flex
        justify-content: space-between
    &__signout
        color: white
        font-size: 1rem
        background-color: black
        border: none

.user__name
    width: 30%
    display: flex
    justify-content: space-around
    align-items: baseline

.navigation
    display: flex
    justify-content: space-around
    width: 80vw
    border: solid 0.2rem #57d5a0
    border-bottom-right-radius: 1rem
    background-color: black
    box-shadow: 0 0 10px 4px #57d5a0
    padding: 0.5rem
    &__item
        list-style: none
        &:hover
            cursor: pointer