.App 
  align-items: center
  background-color: #fcfcfc
  display: flex
  flex-direction: column
  min-height: 100vh
  justify-content: flex-start
  text-align: center
  width: 100%

.main-wrapper
  width: 100%


