.login
    color: whitesmoke
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__form
        margin: 2vw
        padding: 3vw
        font-family: 'Londrina Outline'
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        & input
            margin: 2%
        & button
            align-self: center
            justify-self: center
            margin: 2%