.register
    width: 100vw
    height: 100vh
    background-image: url('img/background.jpg')
    background-repeat: no-repeat
    background-size: cover
    color: whitesmoke
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    &__title
        width: 100%
        max-height: 30%
        display: flex
        justify-content: center
        align-items: center
    &__what-is
        min-height: 70%
        width: 50%
    &__form
        width: 40%
        border: 1px solid whitesmoke
        border-radius: .5vw
        margin: 2vw
        padding: 3vw
        font-family: Calibri
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-end
        & label
            margin: 2%
        & button
            background: whitesmoke
            color: black
            align-self: center
            justify-self: center
            margin: 2%

.what-is
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__text
        margin: 2% 0 2% 0