.header

    &__title
        color: white
        

    &__form
        &-button
            background-color: white
            color: #9595eeee
            //:hover
               // background-color: green

        