li
    list-style: none

input
    border: .1rem solid white
    background-color: #cdcdfaee

body 
    box-sizing: border-box
    background-color:#bbee
    text-align: center
    font-family: 'Montserrat', sans-serif
    margin-bottom: 20%

@media (min-width: 768px)

    body 
        box-sizing: border-box
        background-color:#bbee
        text-align: center
        font-family: 'Montserrat', sans-serif
        margin-bottom: 7%
    
        
@import header.sass
@import ducks.sass
@import footer.sass

