

li
    list-style: none

input
    border: .1rem solid white
    background-color: #cdcdfaee

body 
    box-sizing: border-box
    background-color:#bbee
    text-align: center
        
        
@import header.sass
@import ducks.sass
@import footer.sass

