li
    list-style: none

input
    border: .1rem solid white
    background-color: #cdcdfaee

body 
    box-sizing: border-box
    background-color:#bbee
    text-align: center
    font-family: 'Montserrat', sans-serif
    margin-bottom: 20%

.hide 
    display: none


.view
    flex-wrap: wrap
    justify-content: center
    padding: 0
    

@media (min-width: 768px)

    body 
        box-sizing: border-box
        background-color:#bbee
        text-align: center
        font-family: 'Montserrat', sans-serif
        margin-bottom: 7%

@media (min-width: 1200px)

    body 
        box-sizing: border-box
        background-color:#bbee
        text-align: center
        font-family: 'Montserrat', sans-serif
        margin-bottom: 7%
    
        
@import header.sass
@import ducks.sass
@import footer.sass

