.feedback
    display: flex
    border: .2rem solid white
    border-radius: .3rem
    margin-top: .5rem
    margin-bottom: .3rem
    padding: .3rem
    background-color: #DA37E6

    
    &__message
        color: white
        font-size: 1rem
    
