.container
    &__description
        display: flex
        justify-content: center

    &__price
        display: flex
        flex-direction: row 
        justify-content: center
        border: 1px solid 
        width: 35%
        padding: 5%
        cursor: pointer
        &:hover
            color: tomato
    
    &__others
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        width: 100%
